name: Prisma DB Push

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  prisma:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Prisma DB Push
        env:
          DATABASE_URL: echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> $GITHUB_ENV
        run: npx prisma db push

